<%= form_for(@testfile, :html => {:multipart => true}) do |f| %>
  <% if @testfile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testfile.errors.count, "error") %> prohibited this testfile from being saved:</h2>

      <ul>
      <% @testfile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mat_name %><br>
    <%= f.text_field :mat_name %>
  </div>
  <div class="field">
    <%= f.label :material_id %><br>
    <%= f.text_field :material_id %>
  </div>
  <div class="field">
    <%= f.label :mat_type %><br>
    <%= f.text_field :mat_type %>
  </div>
  <div class="field">
    <%= f.label :groupid %><br>
    <%= f.text_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :groupname %><br>
    <%= f.text_field :groupname %>
  </div>
  
  <div class="field">
    <%= f.label :group_owner_id %><br>
    <%= f.text_field :group_owner_id %>
  </div>
  <div class="field">
    <%= f.label :filename %><br>
    <%= f.file_field :filename %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_field :comments %>
  </div>
  <div class="field">
    <%= f.label :confidence_level %><br>
    <%= f.text_field :confidence_level %>
  </div>
  <div class="field">
    <%= f.label :person_in_charge %><br>
    <%= f.text_field :person_in_charge %>
  </div>
  <div class="field">
    <%= f.label :test_location %><br>
    <%= f.text_field :test_location %>
  </div>
  <div class="field">
    <%= f.label :test_date %><br>
    <%= f.date_select :test_date %>
  </div>
  <div class="field">
    <%= f.label :uploaded_by %><br>
    <%= f.text_field :uploaded_by, value: current_user.name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
