<p id="notice"><%= notice %></p>

<p>
  <strong>Groupname:</strong>
  <%= @group.groupname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Owner name:</strong>
  <%= @group.owner_name %>
</p>

<p>
  <strong>Owner email:</strong>
  <%= @group.owner_email %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @group.owner_id %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @group.is_public %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
