
<div class="jumbotron">
		<span style="float: left; margin-right: 15px;">
                  <%= image_tag(@user.avatar_url.to_s, :size => "200x200") %>
                </span>
		<h1><%= @user.name %></h1>
		<h3><%= @user.email %></h3>
		<p>This is your Dashboard! Choose what you want to do:</p>
		<div class="bs-example">
              	<p><a href="/activities/new"><button type="button" class="btn btn-info"><h5>Daily Journal</h5></button></a>
<a href="/goals/new"><button type="button" class="btn btn-info"><h5>Goals tracker!</h5></button></a>
<a href="/weights/new"><button type="button" class="btn btn-info"><h5>Weight tracker!</h5></button></a>
              </p>
            </div>
		
</div>
<div class="span8">
  <% if @user.activities.any? %>
    <table border="2">
    <tr>
      <th bgcolor="#2b2b2c"><font color="#ffffff"><h3>Your Recent Activities (<%= @user.activities.count %>)</h3></font></th>
    </tr>
    <tr class="activities">
       <%= render @activities %>
    </tr>
     <%= will_paginate @activities %>
   <% end %>
    </table>
</div>
<br>
<div class="span8">
  <% if @user.goals.any? %>
    <table border="2">
    <tr>
      <th bgcolor="#2b2b2c"><font color="#ffffff"><h3>Your Recent Goals (<%= @user.goals.count %>)</h3></font></th>
    </tr>
    <tr class="goals">
       <%= render @goals %>
    </tr>
     <%= will_paginate @goals %>
   <% end %>
    </table>
</div>
<br/>
<div class="span8">
  <% if @user.weights.any? %>
    <table border="2">
    <tr>
      <th bgcolor="#2b2b2c"><font color="#ffffff"><h3>Your Recent Entries (<%= @user.weights.count %>)</h3></font></th>
    </tr>
    <tr class="weights">
       <%= render @weights %>
    </tr>
     <%= will_paginate @weights %>
   <% end %>
    </table>
<div>


