<h1>
<%= image_tag(@user.avatar_url.to_s, :size => "200x200") %>

<%= @user.name %>
</h1>
<h2>
This is your Dashboard! Choose what you want to do:
</h2>

<div class="span8">
  <% if @user.activities.any? %>
    <table border="2">
    <tr>
      <th bgcolor="#2b2b2c"><font color="#ffffff"><h3>Your Recent Activities (<%= @user.activities.count %>)</h3></font></th>
 </tr>
    <tr class="activities">
       <%= render @activities %>
    </tr>
     <%= will_paginate @activities %>
   <% end %>
    </table>
<div>
<div class="span8">
  <% if @user.goals.any? %>
    <table border="2">
    <tr>
      <th bgcolor="#2b2b2c"><font color="#ffffff"><h3>Your Recent Goals (<%= @user.goals.count %>)</h3></font></th>
    </tr>
    <tr class="goals">
       <%= render @goals %>
    </tr>
     <%= will_paginate @goals %>
   <% end %>
    </table>
<div>
<br/ >
<div class="span8">
  <% if @user.weights.any? %>
    <table border="2">
    <tr>
      <th bgcolor="#2b2b2c"><font color="#ffffff"><h3>Your Recent Entries (<%= @user.weights.count %>)</h3></font></th>
    </tr>
    <tr class="weights">
       <%= render @weights %>
    </tr>
     <%= will_paginate @weights %>
   <% end %>
    </table>
<div>
<ul>
<li><p><a href="/activities/new"><button>Daily Journal</button></a></p></li>
<li><p><a href="/goals/new"><button>Goals tracker!</button></a></p></li>
<li><p><a href="/static_pages/graph"><button>Graph!</button></a></p></li>
<li><p><a href="/weights/new"><button>Weight tracker!</button></a></p></li>
</ul>


