<%= form_for(@goal) do |f| %>
  
  <div class="field">
    <%= f.text_area :description, placeholder: "Enter description for the Goal..." %>


      <%= f.label :weight %>
      <%= f.text_field :weight %>

      <%= f.label :height %>
      <%= f.text_field :height %>
	

  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
