<h1>Listing Weights</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Weight</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @weights.each do |weight| %>
  <tr>
    <td><%= weight.created_at %></td>
    <td><%= weight.weight %></td>
    <td><%= link_to 'Show', weight %></td>
    <td><%= link_to 'Edit', edit_weight_path(weight) %></td>
    <td><%= link_to 'Destroy', weight, method: :delete,
                                     data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Weight', new_weight_path %>
